ion-item {
  cursor: pointer;
}

ion-toolbar {
  --background: rgb(0, 0, 173);
  --color: white;
}

ion-avatar {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

ion-title {
  padding: 0;
}

  