<ion-app>
  <ion-router-outlet>
    <ion-content>
      <ion-header [translucent]="true">
        <ion-toolbar class="toolbar-custom no-shadow">
          <div class="logo-container">
            <ion-img src="assets/logo.png" alt="Logo" class="principal-logo" (click)="goToHome()"></ion-img>
          </div>
        </ion-toolbar>
      
      </ion-header>

      <ion-grid class="content-container">
        <ion-row>
          <ion-col>
            <ion-text class="encuentro-bienvenida">
              <h1 class="encuentro-titulo">¡Elige tu encuentro!</h1>
              <p class="encuentro-subtitulo">Estás buscando encuentros para el día {{fechaSeleccionada}}</p>
              <p class="encuentro-link">
                <ion-button class="secundario" (click)="goToCalendar()">Ver otra fecha</ion-button>
              </p>
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-list class="cards-container" *ngIf="encuentros.length > 0; else noEncuentros">
              <ion-card class="centered-card" *ngFor="let encuentro of encuentros" (click)="seleccionarEncuentro(encuentro)">
                <ion-card-header>
                  <ion-card-title>{{encuentro.nombre}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>{{deporte}}  {{encuentro.fecha}}</p>
                </ion-card-content>
              </ion-card>
            </ion-list>
          </ion-col>
        </ion-row>

        <ng-template #noEncuentros>
          <ion-col>
            <ion-text class="no-encuentros">
              <p>No hay encuentros disponibles para {{deporte}} el día {{fechaSeleccionada}}.</p>
            </ion-text>
          </ion-col>
        </ng-template>
      </ion-grid>
    </ion-content>
  </ion-router-outlet>
</ion-app>
