<ion-app>
  <ion-router-outlet>

    <ion-content>

      <ion-header [translucent]="true">
        <ion-toolbar class="toolbar-custom no-shadow">
          <div class="logo-container">
            <ion-img src="assets/logo.png" alt="Logo" class="principal-logo" (click)="goToHome()"></ion-img>
          </div>
        </ion-toolbar>
      
        <ion-toolbar class="search-toolbar">
          <ion-searchbar placeholder="" show-clear-button="always"></ion-searchbar>
        </ion-toolbar>
      </ion-header>
    
      <ion-content class="ion-padding">
        <div class="bg"></div>

        <ion-card>
          <ion-card-header>
            <ion-card-title>{{deporte}}</ion-card-title>
            <ion-card-subtitle>¿Para qué día buscas reserva?</ion-card-subtitle>
          </ion-card-header>
      
          <ion-card-content>
            <mat-calendar
              [minDate]="minDateObj"
              [maxDate]="maxDateObj"
              [(selected)]="selectedDateObj"
              (selectedChange)="onDateChange($event)"
            ></mat-calendar>
          </ion-card-content>
        </ion-card>
      
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <ion-button class="principal" (click)="goToEncuentros()" [disabled]="!selectedDate">
                Siguiente
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <ion-button class="secundario" (click)="goToHome()"> Inicio </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-content>
    
  </ion-router-outlet>
</ion-app>
