<ion-app>
  <ion-router-outlet>

    <ion-content>
      <ion-header [translucent]="true">
        <ion-toolbar class="toolbar-custom">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title class="ion-text-center">
            <ion-img src="assets/Match.png" alt="Logo" class="principal-logo" (click)="goToHome()"></ion-img>
          </ion-title>
          <ion-buttons slot="end">
            <ion-button style="visibility: hidden;">
              <ion-menu-button></ion-menu-button>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    
      <ion-content class="ion-padding">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{deporte}}</ion-card-title>
            <ion-card-subtitle>¿Para qué día buscas reserva?</ion-card-subtitle>
          </ion-card-header>
      
          <ion-card-content>
            <mat-calendar
              [minDate]="minDateObj"
              [maxDate]="maxDateObj"
              [(selected)]="selectedDateObj"
              (selectedChange)="onDateChange($event)"
            ></mat-calendar>
          </ion-card-content>
        </ion-card>
      
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <ion-button class="principal" (click)="goToEncuentros()" [disabled]="!selectedDate">
                Siguiente
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto">
              <ion-button class="secundario" (click)="goToHome()"> Inicio </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-content>
    
  </ion-router-outlet>
</ion-app>
