<ion-app>
  <ion-router-outlet>

    <ion-content>
      <ion-header [translucent]="true">
        <ion-toolbar class="toolbar-custom">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title class="ion-text-center">
            <ion-img src="assets/Match.png" alt="Logo" class="principal-logo" (click)="goToHome()"></ion-img>
          </ion-title>
          <ion-buttons slot="end">
            <ion-button style="visibility: hidden;">
              <ion-menu-button></ion-menu-button>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    
      <ion-text class="principal-bienvenida">
        <h1 class="principal-titulo">¡Bienvenido {{username}}!</h1>
        <p class="principal-subtitulo">¡A continuación, escoge tu deporte favorito!</p>
      </ion-text>
    
      <ion-list class="cards-container">
        <ion-card class="centered-card elevated-card" *ngFor="let deporte of deportes" (click)="goToCalendar(deporte)">
          <ion-card-header>
            <ion-img [src]="deporte.imagen" [alt]="deporte.nombre" class="img-deporte"></ion-img>
            <ion-card-title>{{deporte.nombre}}</ion-card-title>
            <ion-card-subtitle>{{deporte.descripcion}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-list>
    </ion-content>
    
  </ion-router-outlet>
</ion-app>
