<ion-app>
  <ion-router-outlet>


    <ion-content>
      <div class="bg"></div>
      <!-- <app-tab-bar></app-tab-bar> -->


        <ion-header [translucent]="true">
          <ion-toolbar class="toolbar-custom no-shadow">
            <div class="logo-container">
              <ion-img src="assets/logo.png" alt="Logo" class="principal-logo" (click)="goToHome()"></ion-img>
            </div>
          </ion-toolbar>
        
          <ion-toolbar class="search-toolbar">
            <ion-searchbar placeholder="" show-clear-button="always"></ion-searchbar>
          </ion-toolbar>
        </ion-header>
        

    
      <ion-text class="principal-bienvenida">
        <h1 class="principal-titulo">¡Bienvenido {{username}}!</h1>
        <p class="principal-subtitulo">¡A continuación, escoge tu deporte favorito!</p>
      </ion-text>
    
      <ion-list class="cards-container">
        <ion-card class="local-card" *ngFor="let deporte of deportes" (click)="goToCalendar(deporte)">
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img [src]="deporte.imagen" [alt]="deporte.nombre" />
            </ion-thumbnail>
            <ion-label>
              <h2>{{ deporte.nombre }}</h2>
              <p>{{ deporte.descripcion }}</p>
            </ion-label>
            <ion-icon name="star-outline" slot="end" color="medium"></ion-icon>
            <span class="rating">4.5</span>
          </ion-item>
        </ion-card>
        
      </ion-list>
    </ion-content>
    
  </ion-router-outlet>
</ion-app>
